.list {
    padding: 16px;
}

.list h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    font-size: 1.4rem;
}

p button {
    padding: 8px 8px;
    margin: 8px 8px 0 0;
    border-radius: 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: #ffffff;
}

p button:hover {
    background-color: #696969;
    color: #fffa8a;
}

.task {
    width: max-content;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fffa8a;
    color: #696969;
}